<div> <label for="lname">Minimum MB</label>
  <input (keyup)="onKey($event)" value="40"></div>

<div id="container">
  <!-- <mat-slider thumbLabel min="0" max="23" [displayWith]="formatHourLabel" value="1" (input)="onHourChanged($event)"
        style="margin-top: 2%"></mat-slider> -->

  <mat-form-field>
    <mat-label>Choose hour</mat-label>
    <mat-select [value]="14" (selectionChange)="onValueChange($event)">
      <mat-option *ngFor="let json of jsons" [value]="json.value">
        {{json.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div id="main">
  <div id="sequence"></div>
  <div id="clock">
    <div id="explanation" style="visibility: hidden;">
      <span id="percentage"></span><br />
      of traffic
    </div>
  </div>
</div>