svg {
	border: solid 1px black;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 1400px;
  height: 1000px;
  margin-top: 10px;
}

#main {
  float: left;
  width: 1200px;
}

#sidebar {
  float: right;
  width: 200px;
}

#sequence {
  width: 800px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 450px;
  left: 410px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}

.legendC {
  font-size: 12px;                                       
}                                                      
rect {                                                
  stroke-width: 2;                                
}

  /* tooltip */
  .tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    display: none;
    font-size: 18px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 120px;
    z-index: 10;
  }
  input {
    width: 100px;
    padding: 6px 8px;
    margin: 8px 0;
    border: 2px solid #008CBA;
  }