/* AXES */
/* ticks */
.button {
  position: relative;
  left: 0px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.axis line{
  stroke: #706f6f;
  stroke-width: 0.5;
  shape-rendering: crispEdges;
  }
  
  /* axis contour */
  .axis path {
  stroke: #706f6f;
  stroke-width: 0.7;
  shape-rendering: crispEdges;
  }
  
  /* axis text */
  .axis text {
  fill: #2b2929;
  font-family: Georgia;
  font-size: 120%;
  }
  button {
      position: absolute;
      right: 10px;
      top: 10px;
    }
      #container {
        height: 400px;
        width: 1200px;
        margin: 0 auto;
      }
      .button1 {background-color: #4CAF50;} /* Green */
      .button2 {background-color: #008CBA;} /* Blue */