<div fxLayout="row">
  <mat-form-field>
    <mat-label>Choose day</mat-label>
    <mat-select [value]="14" (selectionChange)="onValueChange($event)">
      <mat-option *ngFor="let d of jsons; let index" [value]="d.value">
        {{d.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div fxLayout="row">
  <div id="line"></div>
</div>
<button class="button button1" (click)="onWeekend()">Weekend!</button>
<button class="button button2" (click)="onWeekday()">Weekday!</button>
<div fxLayout="row">

  <div id="container"></div>
</div>

