<mat-toolbar color="primary">
  <div>
    <!-- <button *ngIf="isInDemo$ | async" class="menu-button" mat-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button> -->
    <a mat-button routerLink="/">
      <mat-icon svgIcon="vd-netflow"></mat-icon>
    </a>
    <a mat-button routerLink="/demo">
      Demo
    </a>
    <a mat-button routerLink="/doc">
      Documentation
    </a>
  </div>
  <div>
    <!-- <mat-slide-toggle *ngIf="isInDemo$ | async" color="accent" [ngModel]="isDemoEditing$ | async"
      (ngModelChange)="toggleEdit()">
      Edit!
    </mat-slide-toggle> -->
    <a mat-button href="https://github.com/vgg-fiit/vd-ls-20-jakab-stv-17-vd_netflow_nemcik_sliz">
      <mat-icon svgIcon="github"></mat-icon>
      GitHub
    </a>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="true">
    <!-- <mat-form-field class="search">
      <input matInput type="text" placeholder="Search" [(ngModel)]="searchTerm" (ngModelChange)="search()" />
      <button mat-button *ngIf="searchTerm" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field> -->
    <mat-nav-list>
      <ng-container *ngFor="let route of routes">
          <a *ngIf="route" mat-list-item [routerLink]="route.path"
            routerLinkActive="active"
            #exampleLink>
            {{route.path}}
          </a>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-nav-list>
    Info:<br>
    {{info$ | async | json}}
  </mat-sidenav>
  <mat-sidenav-content>
    <section class="content">
      <!-- <div class="loading-indicator" *ngIf="(inProgress$ |async )">
        <mat-spinner></mat-spinner>
      </div> -->
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <section class="content">
  <app-map></app-map>
</section> -->
<!-- <app-pie-chart></app-pie-chart> -->
<!-- <router-outlet></router-outlet> -->
