@import '~@angular/material/theming';
:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

.content {
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    height: 100%;
}

mat-nav-list {
  overflow-y: auto;
  a {
    color: mat-color(mat-palette($mat-indigo))

}
}

mat-sidenav-container {
  flex: 1;
}

mat-sidenav {
  width: 345px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 16px 0 0;
}

a.active {
  background-color: mat-color(mat-palette($mat-indigo)) !important;
  color: #fff !important;
}

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading-indicator:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}