/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~mapbox-gl/dist/mapbox-gl.css';

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

app-root {
      display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex: 1;
    height: 100vh;
}
