<div id="container">
  <!-- <mat-slider thumbLabel min="0" max="23" [displayWith]="formatHourLabel" value="1" (input)="onHourChanged($event)"
      style="margin-top: 2%"></mat-slider> -->
  <mat-form-field>
    <mat-label>Choose hour</mat-label>
    <mat-select [value]="14" (selectionChange)="onValueChange($event)">
      <mat-option *ngFor="let json of jsons" [value]="json.value">
        {{json.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div fxLayout="row" fxLayoutAlign="space-evenly center">
  <div fxLayout="column">
    <mat-label>Number of packets for each country</mat-label>
    <app-pie-chart [hour$]="hourChange$"></app-pie-chart>
  </div>
  <div fxLayout="column">
    <mat-label>Number of GB for each country</mat-label>
    <app-bar-chart [hour$]="hourChange$"></app-bar-chart>
  </div>
</div>

<button class="button button1" (click)="onPB()">Packets - bytes</button>

<div id="container">
  <mat-form-field>
    <mat-label>Clients</mat-label>
    <mat-select [value]="1" (selectionChange)="onValueChangeCoords($event)">
      <mat-option *ngFor="let json of coords" [value]="json.value">
        {{json.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button class="button button1" (click)="onSunburst()">Clients - sunburst</button>
  <button class="button button1" (click)="onTimezone()">Clients - timezones</button>
</div>

<div id="container">
  <label for="lname">Minimum MB</label>
  <input (keyup)="onKey($event)" value="0">
  <button class="button button2" (click)="onUpdate()">Update map</button>
</div>

<!--<npn-slider [min]="0" [max]="23" (onChange)="onSliderChange($event)"></npn-slider>-->
<div fxLayout="row" fxLayoutAlign="space-between">
  <canvas #myCanvas></canvas>
  <div id="gui"></div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Clients with country code and IP addresses</p>
    <div fxLayout="column">
      <app-clockmap [hour$]="hourChange$"></app-clockmap>
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="timeModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Number of clients for each timezone</p>
    <app-timezones [hour$]="hourChange$"></app-timezones>
  </div>
</div>

<!-- The Modal -->
<div id="providerModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Latitude</p>
    <p id="p1">XX</p>
    <p>Longitude</p>
    <p id="p2">XX</p>
    <p>Megabytes</p>
    <p id="p3">XX</p>
    <mat-form-field>
      <mat-label>Clients</mat-label>
      <mat-select multiple [(value)]="selectedClients">
        <mat-option *ngFor="let client of clientIps" [value]="client">
          {{client}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button class="button button1" (click)="filterClients()">Show clients</button>
  </div>
</div>

<!-- The Modal -->
<div id="providerModal2" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Country code</p>
    <p id="p4">XX</p>
    <!--<mat-form-field>
      <mat-label>Clients</mat-label>
      <mat-select multiple [(value)]="selectedClients">
        <mat-option *ngFor="let client of clientIpsS" [value]="client">
          {{client}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button class="button button1" (click)="filterClientsS()">Show clients</button>-->
  </div>
</div>

<!-- The Modal -->
<div id="clientModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Traffic of clients [Bytes]</p>
    <div fxLayout="row">
      <div id="aa"></div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="pbModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Packets - bytes comparison</p>
    <div fxLayout="column">
      <app-scatterplot [hour$]="hourChange$"></app-scatterplot>
    </div>
  </div>
</div>
