p {
  font-family: Lato;
}
  
.axis text {
  font: 10px sans-serif;
}
  
.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

svg{
  padding-left: 1
  0px;
}
.axis text {
  font: 10px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
}

.chart {
  height:300px;
  width:80px;
  background:   #E4E4E4;
  display: inline-block;
}

#gui { 
  position: absolute; 
  top: 485px; 
  height:280px;
  width:280px;
  right: 80px 
}

.button {
  position: relative;
  left: 30px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA; } /* Blue */

input {
  width: 100px;
  padding: 6px 8px;
  margin: 8px 0;
  border: 2px solid #008CBA;
}

label {
  padding: 4px 4px 4px 0;
  display: inline-block;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; 
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 400;
  top: 0;
  width: 70%; 
  height: 100%; 
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  position: absolute; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

text {
  font-family: sans-serif;
}

.bar {
  fill: cornflowerblue;
}

.bar:hover {
  fill: pink;
}

.axis--x path {
  display: none;
}
