.legend {
    font-size: 12px;                                       
  }                                                      
  rect {                                                
    stroke-width: 2;                                
  }    
  /* tooltip */
  .tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    display: none;
    font-size: 18px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 120px;
    z-index: 10;
  }