<div fxLayout="row">
  <mat-form-field>
    <mat-label>Choose hour</mat-label>
    <mat-select [value]="14" (selectionChange)="onValueChange($event)">
      <mat-option *ngFor="let d of jsons" [value]="d.value">
        {{d.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div fxLayout="row">
  <div id="area"></div>
</div>
