/*
.chart rect {
  fill: steelblue;
}
*/
.aa .legend {
  fill: black;
  font: 14px sans-serif;
  text-anchor: start;
  font-size: 12px;
}

.aa text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.aa .label {
  fill: black;
  font: 14px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}