svg {
	border: solid 1px black;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 1400px;
  height: 1000px;
  margin-top: 10px;
}

#main {
  float: left;
  width: 1200px;
}

#sidebar {
  float: right;
  width: 200px;
}

#sequence {
  width: 800px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 380px;
  left: 410px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}

.legendC {
  font-size: 12px;                                       
}                                                      
rect {                                                
  stroke-width: 2;                                
}   