<div id="main">
  <div id="sequence"></div>
  <div id="clock">
    <div id="explanation" style="visibility: hidden;">
      <span id="percentage"></span><br/>
      of traffic
    </div>
  </div>
</div>