p {
    font-family: Lato;
  }
  .axis text {
    font: 10px sans-serif;
  }
  
  .axis line, .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  svg{
    padding-left: 1
    0px;
  }
  .axis text {
    font: 10px sans-serif;
  }

  .axis line,
  .axis path {
    fill: none;
    stroke: #000;
  }

  .chart {
    height:300px;
    width:80px;
    background:   #E4E4E4;
    display: inline-block;
  }

.bar {
    fill: steelblue;
    opacity: .5;
  }